<div class="h-100 scrollable-y">
  <h1 class="nav-header gilroy">
    <a class="breadcrum-link" href="/">Home / </a>
    <a class="breadcrum-link" href="/projects">My Projects /</a>
  </h1>
  <div class="project-body cascadia">
    <div class="head-container">
      <div class="proj-index">
        {{currentIndex+1 | number:'2.0'}}
      </div>
      <div>
        <div class="proj-title">
          {{currentProject.title}}
        </div>
        <div class="proj-desc">
          {{currentProject.description}}
        </div>
      </div>
    </div>
  </div>

</div>
