@import "src/colors.scss";

.project-body {
  color: $accent-color;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}

.head-container {
  display: flex;
  flex-wrap: wrap;
}

.proj-index {
  position: relative;
  font-size: 23vh;
  font-weight: 900;
  transform: translate(-10vh, -4vh);
}

.proj-header {
  max-width: 81%;
  transform: translateX(-6vh);
}

.proj-title {
  font-size: 8vh;
  font-weight: 900;
}

.proj-desc {
  font-size: 3vh;
  font-weight: 300;
}

.proj-media {
  border-radius: 0.5rem;
  height: 40vh;
  margin-top: 2rem;
}

.proj-tech {
  margin: 2rem 2rem 0 2rem;
  h2 {
    font-size: 4vh;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
  }
  p {
    font-size: 3vh;
  }
}

.proj-ft {
  @extend .proj-tech;
  margin-left: 0;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .proj-index {
    transform: translate(-56px, 0);
    font-size: 15vh;
    font-weight: 900;
  }

  .proj-header {
    transform: translateX(0);
    max-width: 100%;
  }

  .proj-title {
    font-size: 4vh;
  }

  .proj-desc {
    font-size: 2vh;
  }

  .proj-media {
    height: unset;
    width: 100%;
  }

  .proj-tech,
  .proj-ft {
    margin-left: 0;
    margin-right: 0;
    p {
      font-size: 2vh;
    }
  }

  .bottom-btn {
    width: 100%;
    .btn {
      width: 100%;
    }
  }
}

.breadcrum-link {
  color: $secondary-color;
}

.breadcrum-link:hover {
  color: $accent-color;
  transition: ease 0.3s;
}
