<div class="nav-container">
  <div class="nav-menu-container" [ngClass]="isMenuTriggered ? 'nav-anim-expanded': 'nav-anim'">
    <div (click)="onClick()" class="nav-menu-btn cursor-btn">
      <div class="icon-bar" [@hamburgerX]="!isMenuTriggered ? 'hamburger' : 'topX'"></div>
      <div class="icon-bar" [@hamburgerX]="!isMenuTriggered ? 'hamburger' : 'hide'"></div>
      <div class="icon-bar" [@hamburgerX]="!isMenuTriggered ? 'hamburger' : 'bottomX'"></div>
    </div>
    <div>
      <ul class="nav-menu-items fade-text" [ngClass]="isMenuTriggered ? 'fade-in-text': 'fade-out-text'">
        <a *ngFor="let entry of navItems" href="{{entry.url}}">
          <li>
            <span class="cursor-link">{{entry.label}}</span>
          </li>
        </a>
        <img (click)="colorWheelClicked()" class="img-color-btn" src="assets/icons/color-wheel.png">
      </ul>
    </div>
  </div>
</div>
