<div class="parent-container">
  <div class="child-container">
    <app-homepage></app-homepage>
    <img class="bg-art-filter" src="/assets/images/bg-art-1.svg">
    <!-- <img class="profile-pic-bg" src="/assets/images/profile-pic.svg"> -->
  </div>
  <div class="child-container">
    <app-projects></app-projects>
  </div>
  <div class="child-container">
    <app-skills></app-skills>
  </div>
  <div class="child-container fit-height">
    <app-resume></app-resume>
  </div>
  <div class="child-container">
    <app-contact></app-contact>
  </div>

</div>
