// $dark-theme: true !default;
// $primary-color: #f8bbd0 !default;
// $accent-color: #6a1b9a !default;

// @if $dark-theme {
//   $primary-color: darken($primary-color, 60%);
//   $accent-color: lighten($accent-color, 60%);
// }

$accent-color: #dfdfdf;
$primary-color: #000000;
$secondary-color: grey;
